<%- include('partials/header'); %>

<main role="main" class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Genres</li>
  </ol>

  <a class="btn btn-primary float-right" href="/catalog/genre/create" role="button">Create new genre</a>

  <h1>Genres list</h1>

  <% genre_list.forEach(function(genre){ %>
    <li>
      <a href="<%= genre.url %>"><%= genre.name %></a>
    </li>
  <% }) %>

</div>

<%- include('partials/footer'); %>
